# Dependencies
frontend/node_modules
backend/node_modules

# Build output
frontend/dist/
frontend/dist-ssr/

# Environment variables
backend/.env
*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor directories and files
.idea/
.DS_Store
*.sw?
